#container {
    position:relative;
    width:100%;
    height:100%;
}

#mainform {
    position:relative;
    width:800px;
    height:600px;
    margin:auto;
}

input [type=text] {
    margin:auto;
}